<div class="row-fluid">
  <div class="well">
    <div>
      <h1><%= @case.name %></h1>

      <%= link_to 'Edit', edit_case_path(@case) %> | <%= link_to 'Back', cases_path %>
    </div>
    <div>
      <%= link_to 'Manage Case Documents', case_docs_path(@case) %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <div pub-key="pub-8170e21c-7fd2-4c90-aee1-88261c5c5816" sub-key="sub-894d0468-e416-11e1-a5bd-178bb4b7ab64" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>

    <div class="blurbs-box">
    	<div class="input-box">
    		<textarea class="input-xlarge span6" name="new-message" id="message-field" placeholder="Type new blurb..." rows="3"></textarea>
    	</div>
      <br>
    	<div class="convo-box">
        <% @case.blurbs.order("created_at DESC").each do |b| %>
          <div class="well">
            <div class="row-fluid">
              <span class="message-sender"><%= b.user.username rescue "" %></span>
              <span class="message-date pull-right"><%= b.created_at %></span>
            </div>
            <div class="row-fluid">
              <span class="message-text"><%= b.content %></span>
            </div>
          </div>
        <% end %>
    	</div>
    </div>
  </div>
</div>

<style>
	.message-sender{
		font-weight: bold;
	}
	.message-date{
		font-size: 90%;
		margin-right: 0.5em;
		font-style: italic;
	}
</style>

<script> (function(){
	// Channel to be provided by CaseBlurb db. Probably use case_id.
	var channel = "<%= @case.name %> <%= @case.id %>";
	// Provide username too for posting to convo box:
	var user = "<%= session[:user_name]%>";
	var msgBox = $('#message-field');
 
    // LISTEN FOR MESSAGES
    PUBNUB.subscribe({
        channel    : channel,      // CONNECT TO THIS CHANNEL.
 
        restore    : false,              // STAY CONNECTED, EVEN WHEN BROWSER IS CLOSED
                                         // OR WHEN PAGE CHANGES.
 
        callback   : function(message) { // RECEIVED A MESSAGE.
        	// TODO: Add date/time stamp from rails
            $('.convo-box').prepend('\
        		<div class = "well">\
              <div class="row-fluid">\
        			<span class="message-sender">'+message.sender+'</span>\
        			<span class="message-date pull-right"><%= Time.now %></span>\
              </div>\
              <div class="row-fluid">\
        			<span class="message-text">'+message.text+'</span>\
              </div>\
        		</div>')
        },
 
        disconnect : function() {        // LOST CONNECTION.
            $('.convo-box').prepend(
                "<div class=\"well\">\
                	Error: Connection Lost." +
                	"Will auto-reconnect when Online.\
                </div>"
            )
        },
 
        reconnect  : function() {        // CONNECTION RESTORED.
            $('.convo-box').append("Connection restored!")
        },
 
        connect    : function() {        // CONNECTION ESTABLISHED.		            
            PUBNUB.publish({             // SEND A MESSAGE.
                channel : channel,
                message : {sender: '[Announcement]', text: user + " is now viewing this blurb.", date: '[date]'}
            })
        }
    });
	$('#message-field').keyup(function(e) {
		if((e.which) === 13){
			PUBNUB.publish({
				channel : channel, 
				message : {sender: user,
					text: msgBox.val(),
					date:'[date]'
				},
				callback: function(resp){
					$.ajax({
						url: '<%= @case.id %>/blurbs.json',
						type:'POST',
						data:{blurb:{content:msgBox.val(),
							user_id:<%= session[:user_id] %>}
						}
					})
					msgBox.val('');
				}
			});
		}
	});
})();
</script>