<h1>Listing docs</h1>

<ul>
  <% @docs.each do |doc| %>
    <li>
      <%= doc.name %> | 
      <%= link_to 'Show', case_doc_path(@case, doc) %> | 
      <%= link_to 'Edit', edit_case_doc_path(@case, doc) %> | 
      <%= link_to 'Destroy', case_doc_path(@case, doc), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<br />

<%= link_to 'New Doc', new_case_doc_path %>
