<h1>Listing docs</h1>

<ul>
  <% @case_docs.each do |doc| %>
    <li><%= doc.name %> | <%= link_to 'Show', doc %> | <%= link_to 'Edit', edit_doc_path(doc) %> | <%= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<br />

<%= link_to 'New Doc', new_case_doc_path %>
